body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.challenge-in {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 0px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 5px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 0px;
}

#chal-5 {
    margin: 20px;
}

#container {
    display: grid;
    grid-template-columns: repeat(26, 40px);
    margin-top: 20px;
}

#string {
    margin-left: 20vw;
    margin-right: 20vw;
}